$textColor: blanchedalmond;
$textFont: 0.8rem;

.modal_footer {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.footer-conteiner {
  position: relative;
  height: 50px;
  background-color: rgba(255, 235, 205, 0.103);
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .footer-version {
      color: $textColor;
      font-size: $textFont;
    }
    .footer-lastChanges {
      color: $textColor;
      font-size: $textFont;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .footer-aboutUS {
      color: $textColor;
      font-size: $textFont;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .footer-conctacUs {
      color: $textColor;
      font-size: $textFont;
    }
  }
}

@media (max-width: 400px) {
  .footer-conteiner {
    height: 140px;
    .content {
      flex-direction: column;
      text-align: center;
      .footer-version {
      }
      .footer-lastChanges {
      }
      .footer-aboutUS {
      }
    }
  }
}
